
.contact {
    grid-area: contact;
    text-align: center;
    background-color: $blue_light_color;

    &__description {
        font-weight: 300;
        font-size: $text;
        line-height: $lineheight200;
        color: $text_default_color;
        margin-top: 2.5rem;

        @media screen and (max-width: $desktop) {
            font-size: $text_mobile;
            line-height: $lineheight200_mobile;
        }
    }

    &__header {
        font-weight: 700;
        font-size: $header100;
        line-height: $lineheight_contact_header;
        color: $text_dark_color;

        @media screen and (max-width:$desktop) {
            font-size: $header100_mobile;
            line-height: $lineheight100_mobile;
        }
    }


    &__socialmedia {
        margin-top: 8rem;
        display: flex;
        justify-content: center;

        &--email {
            margin-left: 110px;
            background-color: $text_link_color;
            padding: 0.25rem 1.5rem;
            border-radius: 4rem;

            color: $white_color;
            text-decoration: none;
            font-weight: bold;
            line-height: $lineheight200;

            @media screen and (max-width:$desktop) {
                margin: 68px 45px;

            }
        }

        &--link {
            border: 12px solid $white_color;
            border-radius: 360px;
            margin-right: 1.5rem;
        }
        //text-decoration: none;

        @media screen and (max-width:$desktop ) {
            flex-direction: column;
        }
    }
}
