@mixin icon_style {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
}


@mixin skills_header {
    text-align: center;
    font-weight: 700;
    font-size: $header300;
    line-height: 2.75rem;
    color: $blue_light_color;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

@mixin skills_item {
    font-weight: 600;
    font-size: $list;
    line-height: $lineheight_skills_item;
    color: $blue_light_color;
}

.skills {
    grid-area: skills;
    background-color: $bubble_color;
    color: $white_color;

    min-height: 948px;
    padding-bottom: 96px;

    &__column {
        //width: 428px;
    }

    // &__column > ul {
    //     color: $blue_light_color;
    // }

    &__content {
        display: flex;
        justify-content: space-around;

        @media screen and (max-width: $desktop) {
            flex-direction: column;
        }
    }

    &__header {
        text-align: center;
        font-weight: 700;
        font-size: 3rem;
        line-height: 3.5rem;

        @media screen and (max-width: $desktop) {
            margin-top: 4rem;
            font-size: 2.25rem;
            line-height: 3rem;
        }
    }

    &__knowSomething {

        &--content {
            list-style: url(../assets/svgs/small_tick_unticked.svg);
            @include skills_item;
        }

        &--header {            
            @include skills_header;
        }

        &--icon {
            text-align: center;
            @include icon_style;
        }

        @media screen and (max-width: $desktop){
            margin-top: 4rem;
        }
    }

    &__workingKnowledge {

        &--content {
            list-style: url(../assets/svgs/small_tick_ticked.svg);
            @include skills_item;
        }

        &--header {
            @include skills_header;
        }

        &--icon {
            text-align: center;
            @include icon_style;
        }

        @media screen and (max-width: $desktop){
            margin-top: 4rem;
        }
    }

    &__wantLearn {

        &--content {
            list-style: url(../assets/svgs/bullet.svg);
            @include skills_item;
        }

        &--header {
            @include skills_header;
        }

        &--icon {
            text-align: center;
            @include icon_style;
        }

        @media screen and (max-width: $desktop){
            margin-top: 4rem;
        }
    }
}
