//colors
$picture_radius_color: #F6F9FD;
$white_color: #ffffff;
$bubble_color: #1070CA;
$text_dark_color: #234361;
$text_default_color: #425A70;
$text_link_color: #4DA8FF;

//
$desktop: 960px;

//fonts
$header100: 3rem;   //48px
$header200: 2rem;   //32px
$header300: 1.5rem; //24px
$text: 1.25rem;     //20px
$list: 1rem;        //16px
$console_content: 1rem; //16px

//mobile fonts
$header100_mobile: 2.25rem;     //36px
$header200_mobile: 1.625rem;    //26px
$text_mobile: 1rem;             
$console_content_mobile: 0.8125rem; //13px

//line heights
$lineheight200: 2.5rem; //40px
$lineheight200_mobile: 2rem;