//colors
$picture_radius_color: #ffd4a3; //#F6F9FD;
$white_color: #ffecd6; // #ffffff;
$bubble_color: #d08159; //#1070CA;
$text_dark_color: #203c56; //#234361;
$text_default_color: #544e68; //#425A70;
$text_contact_color: #ffd4a3;
$text_link_color: #ffaa5e; //#4DA8FF;
$blue_light_color: #0d2b45; //#DBEAF7;
$console_grey_1: #0d2b45; //#1E1E1E;
$console_grey_2: #203c56; //#212528;
$console_grey_3: #464a4d;
$console_grey_4: #808082;
$console_grey_5: #a3a3a3;
$console_text_link: #ffaa5e; //#14B5D0;

//
$desktop: 960px;
$tablet: 768px;

//fonts
$header100: 3rem; //48px
$header200: 2rem; //32px
$header300: 1.5rem; //24px
$text: 1.25rem; //20px
$list: 1rem; //16px
$console_content: 1rem; //16px

//mobile fonts
$header100_mobile: 2.25rem; //36px
$header200_mobile: 1.625rem; //26px
$text_mobile: 1rem;
$console_content_mobile: 0.8125rem; //13px

//line heights
$lineheight100_mobile: 3rem;
$lineheight200: 2.5rem; //40px
$lineheight200_mobile: 2rem;
$lineheight_skills_item: 1.5rem;
$lineheight_projects_header: 3.5rem; //56px
$lineheight_contact_header: 3.5rem; //56px
