@import "~normalize.css";

@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

body {
    font-family: "Nunito", sans-serif;
    font-size: $text;
    background-color: $white_color;
}

@mixin icon_style {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
}

@mixin skills_header {
    text-align: center;
    font-weight: 700;
    font-size: $header300;
    line-height: 2.75rem;
    color: $blue_light_color;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

@mixin skills_item {
    font-weight: 600;
    font-size: $list;
    line-height: $lineheight_skills_item;
    color: $blue_light_color;
}

.hello {
    display: flex;
    flex-direction: column;
    position: relative;

    align-items: center;
    padding: 130px 229px 0 229px;
    grid-area: greeting;
    
    @media screen and (max-width: $desktop) {
        padding: 98px 112px 0 112px;        
    }
    
    &__bubble {
        font-size: $header200;
        font-weight: 700;
        line-height: $lineheight200;
        
        background-color: $bubble_color;
        padding: 1rem 1.188rem;
        border-radius: 1rem;
        
        color: $white_color;
        
        position: absolute;
        left: calc(50% + 120px);
        top: 50px;
        
        @media screen and (max-width: $desktop) {
            display: none;
        }
    }
    
    &__bubble::after {
        content: url(../assets/svgs/speech_cloud.svg);
        position: absolute;
        top: 60px;
        left: 20px;
    }

    &__email {
        background-color: $text_link_color;
        line-height: $lineheight200;
        font-weight: 700;
        
        margin: 24px;
        padding: 4px 24px;
        border-radius: 4rem;
        color: $white_color;
        text-decoration: none;
    }
    
    &__greeting {
        text-align: center;
        
        &--description {
            line-height: $lineheight200;
            font-weight: 300;
            color: $text_default_color;
            
            @media screen and (max-width: $desktop) {
                font-size: $text_mobile;
                line-height: $lineheight200_mobile;
            }
        }
        &--header {
            font-size: $header200;
            font-weight: 700;
            line-height: $lineheight200;
            color: $text_dark_color;
            
            @media screen and (max-width: $desktop) {
                font-size: $header200_mobile;
                line-height: $lineheight200_mobile;
            }
        }
        &--link {
            font-weight: bold;
            text-decoration-line: underline;
            color: $text_link_color;
        }
        &--strong {
            color: $bubble_color;
        }
    }
    
    &__greeting::before {
        content: url(../assets/svgs/bracket_left.svg);
        position: absolute;
        left: 150px;
        top: 360px;

        @media screen and (max-width: $desktop) {
            content:"";
        }
    }

    &__greeting::after {
        content: url(../assets/svgs/bracket_right.svg);
        position: absolute;
        right: 150px;
        top: 360px;

        @media screen and (max-width: $desktop) {
            content:"";
        }
    }

    &__profile {
        border: 1.5rem solid $picture_radius_color;
        border-radius: 360px;
        
        &--picture{
            height: 178px;
            width: 178px;
            object-fit: cover;
            border-radius: 360px;
        }
    }
}

.main {
    display: grid;
    grid-template-areas:
    "greeting"
    "skills"
    "projects"
    "contact";
}

.main > section {
   min-height: 90vh;

   @media screen and (max-width: $desktop){
       min-height: auto;
   }
}

.skills {
    grid-area: skills;
    background-color: $bubble_color;
    color: $white_color;

    min-height: 948px;

    &__column {
        //width: 428px;
    }

    // &__column > ul {
    //     color: $blue_light_color;
    // }

    &__content {
        display: flex;
        justify-content: space-around;
    }

    &__header {
        text-align: center;
        font-weight: 700;
        font-size: 3rem;
        line-height: 3.5rem;
    }

    &__knowSomething {

        &--content {
            list-style: url(../assets/svgs/small_tick_unticked.svg);
            @include skills_item;
        }

        &--header {            
            @include skills_header;
        }

        &--icon {
            text-align: center;
            @include icon_style;
        }
    }

    &__workingKnowledge {

        &--content {
            list-style: url(../assets/svgs/small_tick_ticked.svg);
            @include skills_item;
        }

        &--header {
            @include skills_header;
        }

        &--icon {
            text-align: center;
            @include icon_style;
        }
    }

    &__wantLearn {

        &--content {
            list-style: url(../assets/svgs/bullet.svg);
            @include skills_item;
        }

        &--header {
            @include skills_header;
        }

        &--icon {
            text-align: center;
            @include icon_style;
        }
    }
}
