@import "~normalize.css";

@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

@import "modules/hello.scss";
@import "modules/contact.scss";
@import "modules/projects.scss";
@import "modules/skills.scss";



html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: $text;
    background-color: $white_color;
}

.main {
    display: grid;
    grid-template-areas:
    "greeting"
    "skills"
    "projects"
    "contact";
}

.main > section {
   //min-height: 90vh;

   @media screen and (max-width: $desktop){
       min-height: auto;
   }
}
